/* SITE HERO */

.site-hero{
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
  background-image: url(../../../img/hero-bg.png),
    url(../../../img/about-hero-cars.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.site-heading__box{
  width: 162px;
  position: relative;
}

.site-heading__box::after{
  content: "";
  position: absolute;
  display: block;
  right: -1210px;
  bottom: 0;
  width: 234px;
  height: 63px;
  background-image: url(../../../img/hero-bg-oval.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.site-hero__title{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
