/* SECTION CARE */

.care-left__content{
  width: 445px;
}

.section-care__heading{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.section-care__text{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.link-say__hello{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #FCB72B;
  padding: 14px 48px;
  border: 3px solid transparent;
  transition: color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.link-say__hello:hover{
  background-color: #ffffff;
  color: #FCB72B;
  border-color: #FCB72B;
}

.section-care__contents{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}

.boy{
  border-radius: 50%;
}

.section-care__img-wrapper{
  position: relative;
}

.section-care__img-wrapper::after{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: -525px;
  top: 0;
  width: 1078px;
  height: 445px;
  background-image: url(../../../img/csreers-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}