/* WHY JOIN US */

.our-values{
  padding-top: 120px;
  padding-bottom: 120px;
}

.values-heading__box{
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.values-heading{
  font-family: "Space Mono", monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
  padding: 0;
}

.our-values__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.our-values__item{
  display: flex;
  flex-direction: column;
}

.values-item__title{
  font-family: "Space Mono", monospace;
  width: 350px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
}

.values-item__text{
  width: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
  margin: 0;
  padding: 0;
}

.item-img__wrapper{
  position: relative;
  margin-bottom: 87px;
  margin-left: auto;
  margin-right: auto;
}

.item-img__wrapper::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url(../../../img/number-one.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.number-two{
  position: relative;
}

.number-two::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url(../../../img/number-two.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.number-three{
  position: relative;
}

.number-three::after{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  bottom: -45px;
  right: 75px;
  background-image: url(../../../img/number-three.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
